<div class="d-flex" data-controller="tasks search-technician" >
  <% if current_user.technician == false %>
  <%= render "shared/sidebar" %>
  <% end %>
    <div class="tasks-index flex-grow-1">
      <div class="filter-bar justify-content-between">
        <div class="search-bar" style="height: 38px;">
          <%= form_with url: tasks_path, method: :get, html: {class:
            "mb-4", data: {search_technician_target: "form"}} do |f| %>
            <%= f.text_field :query,
                     class: "form-control",
                     placeholder: "Type in technician name",
                     value: params[:query],
                     data: {search_technician_target: "input",
                            action: "keyup->search-technician#update keyup->tasks#checkCompletedHidden"
                     } %>
          <% end %>
        </div>
        <div>
          <label for="complete">Hide Complete Tasks</label>
          <input type="checkbox" data-tasks-target='checkbox' data-action="click->tasks#hideComplete" name="complete">
        </div>

      </div>
        <div class="all-tasks" data-search-tasks-target="list" >
          <div class="task-info-header">
            <li>TASK NAME</li>
            <li>TECHNICIAN</li>
            <li>DUE DATE</li>
            <li>NETWORK</li>
            <li>STATUS</li>
          </div>
              <% @tasks.reverse.each do |task| %>
                <%= link_to task_path(task), class:"task-link" do %>
                <div class="single-task" data-search-technician-target="technician" data-name="<%= "#{task.technician.first_name} #{task.technician.last_name}" %>" data-tasks-target="hide" data-completed=<%= task.complete_task%> >
                  <li> <%= task.service.name %> </li>
                  <li> <%= task.technician.first_name.capitalize %> <%= task.technician.last_name.capitalize %></li>
                  <li> <%= task.end_date.strftime("%d/%m/%Y") %> </li>
                  <li> <%= task.network.name %> </li>
                  <li> <%= if task.complete_task
                  '<i class="fa-solid fa-circle"style="color: green;"></i> Complete'.html_safe
                  else
                  '<i class="fa-solid fa-circle" style="color: red;"></i> Incomplete'.html_safe
                  end %></li>
                </div>
                <% end %>
              <% end %>
        </div>
    </div>
</div>
