<div class="d-flex">
  <%= render "shared/sidebar" %>
    <div class="tasks-index flex-grow-1">
      <div class="all-tasks">
        <div class="task-info-header">
          <li>TASK NAME</li>
          <li>TECHNICIAN</li>
          <li>DUE DATE</li>
          <li>NETWORK</li>
          <li>STATUS</li>
        </div>
        <% @tasks.each do |task| %>
          <%= link_to task_path(task), class:"task-link" do %>
            <div class="single-task">
              <li> <%= task.service.name %> </li>
              <li> <%= task.technician.first_name.capitalize %> <%= task.technician.last_name.capitalize %></li>
              <li> <%= task.end_date.strftime("%d/%m/%Y") %> </li>
              <li> <%= task.network.name %> </li>
              <li> <%= if @complete_task
              '<i class="fa-solid fa-circle"style="color: green;"></i> Complete'.html_safe
              else
              '<i class="fa-solid fa-circle" style="color: red;"></i> Incomplete'.html_safe
              end %></li>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
</div>
