<div class="container">
  <%= simple_form_for @task do |f| %>
    <div class="row mt-4">
      <div class="col-3">
        <%= f.input :start_date, as: :date, html5: true%>
      </div>
      <div class="col-9">
        <%= f.input :end_date, as: :date, html5: true %>
      </div>
    </div>
    <%= f.input :extra_info %>
    <%= f.association :technician, :label_method => lambda { |technician| "#{technician.first_name.capitalize} #{technician.last_name.capitalize}" } %>
    <%= f.association :service %>
    <%= f.association :equipment%>
    <%= f.association :waterpoint, :label_method => lambda { |waterpoint| "#{waterpoint.waterpoint_type} at #{waterpoint.network.name}" } %>
    <%= f.button :submit, 'CREATE A TASK', class: "btn btn-primary" %>
  <% end %>
</div>
