<div class="container">
  <%= simple_form_for @task do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :extra_info %>
    <%= f.association :technician, label_method: :first_name %>
    <%= f.association :service %>
    <%= f.association :equipment%>
    <%= f.association :network%>
    <%= f.association :waterpoint, label_method: :waterpoint_type %>
    <%= f.button :submit %>
  <% end %>
</div>
