<div class="d-flex">
  <%= render "shared/sidebar" %>
    <div class="flex-container">

      <div class="info">
      <h1> MAINTENANCE TASK: <%= @task.id %></h1>
      <h2>Technician: <%= technician.name %></h2>
      <%= if @complete_task == true
       "Complete" <i class="fa-solid fa-circle" style="color:green;"></i>
     else
       "Incomplete" <i class="fa-solid fa-circle" style="color:red;"> </i>
     end %>

     <div class="details">
     <p>DETAILS</p>
     </div>

     <div class="start">
     <p>Start date</p>
     <%= @task.start_date %>
     </div>

     <div class="end">
     <p>End date</p>
     <%= @task.end_date %>
     </div>

      </div>

      <div class="address">
      <h3>SITE ADDRESS</h3>
      <ul>
      <li>Network: <%= @network.name %></li>
      <li>Waterpoint: <%= @waterpoint.waterpoint_type %></li>
      <li>Address: <%= @network.address %></li>
      </ul>
      </div>

      <div class="equipment">
      <h4>EQUIPMENT INFO</h4>
      </div>
    </div>


</div>
