<div class="d-flex">
  <% if current_user.technician == false %>
  <%= render "shared/sidebar" %>
  <% end %>
    <div class="flex-container flex-grow-1">

      <div class="info flex-grow-1">
      <div class="top-info">
        <div>
          <h1> MAINTENANCE TASK ID <%= @task.id %></h1>
          <h2>Technician: <strong><%= @task.technician.first_name.upcase %> <%= @task.technician.last_name.upcase %></strong></h2>
          <h2>Assigned by: <strong><%= @task.manager.first_name.upcase %> <%= @task.manager.last_name.upcase %></strong></h2>
         <div class="status"> <%= if @task.complete_task
          '<i class="fa-solid fa-circle"style="color: green;"></i> Complete'.html_safe
          else
          '<i class="fa-solid fa-circle" style="color: red;"></i> Incomplete'.html_safe
          end %>
        </div>
        </div>

          <div class="date">
            <div class="start">
              <p><strong>Start date</strong></p>
              <div class="time"><%= @task.start_date.strftime("%d/%m/%Y") %></div>
            </div>

            <div class="end">
              <p><strong>End date</strong></p>
              <div class="time"><%= @task.end_date.strftime("%d/%m/%Y") %></div>
            </div>
          </div>

      </div>

        <div class="details">
          <p>DETAILS</p>
          <p> <%= @task.extra_info %></p>
        </div>

<hr>


      <div class="address">

        <div class="address-info">
          <h3>SITE ADDRESS</h3>
          <ul>
            <li><h2>Network: <strong><%= @task.network.name %></strong></h2></li>
            <li><h2>Waterpoint: <strong><%= @task.waterpoint.waterpoint_type %></strong></h2></li>
            <li><h2>Address: <strong><%= @task.network.address %></strong></h2></li>
            <li><h2>Manager: <strong><%= @task.manager.first_name.capitalize %></strong> <strong><%= @task.manager.last_name.capitalize %></strong></h2></li>
          </ul>
        </div>
        <div class="flex-grow-1 d-flex justify-content-end">
          <div style="width: 80%; height: 200px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>

      <hr>

      <div class="equipment">
      <h4>EQUIPMENT INFO</h4>
      <h2>Installed equipment: <strong><%= @task.equipment.name %></strong></h2>
      </div>
      <% if @task.comments.exists? %>
        <div class="comments">
          <p>COMMENTS</p>
          <% @task.comments.each do |comment| %>
          <p><%= comment.content %></p>
          <p><%= time_ago_in_words(comment.created_at)%> ago</p>
            <% comment.photos.each do |photo| %>
              <%= cl_image_tag photo.key, height: 150, width: 250, crop: :fill %>
            <% end %>
         <% end %>
        </div>
      <% end %>
      <div class="comment-new">
        <% if @task.comments.count < 1 %>
          <%= simple_form_for [@task, @comment] do |f| %>
          <%= f.input :content, label: 'Leave your comment' %>
          <%= f.input :photos, label: 'Add your pictures', as: :file, input_html: { multiple: true } %>
          <%= f.button :submit, 'POST A MESSAGE', class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
      <% if @task.complete_task == false && @task.comments.count >= 1 %>
      <%= link_to "COMPLETE THE TASK", completed_task_path(@task), class: "btn btn-primary" %>
      <% end %>
      <div class="edit-btn">
        <% if current_user.technician == false %>
        <%= link_to "EDIT A TASK", edit_task_path(@task), class:"btn btn-primary" %>
        <% end %>
      </div>
    </div>
</div>
