<div class="d-flex">

  <%= render "shared/sidebar" %>

  <div class="info-network flex-grow-1">

        <h1> NETWORK <%= @network.name.upcase %> </h1>
    <div class="network-show flex-grow-1">
      <div>

        <div class="network-top-info">
          <div class="maintenance-no">
            <div class="network-info-maintenance">
              <h5>No. of maintenance tasks:</h5>
              <p> 28</p>
            </div>
          </div>
          <div class="maintenance-no">
            <div class="network-info-maintenance">
              <h5>No. of total tasks:</h5>
              <p> <%= @network.tasks.count %></p>
            </div>
          </div>
          <div class="maintenance-no">
            <div class="network-info-maintenance">
              <h5>Status complete tasks:</h5>
              <p><strong><%= @network.complete_tasks %> / <%= @network.tasks.count %></strong></p>
            </div>
          </div>
        </div>

        <div class="flex-grow-1">
          <div class="header">
            <h4>NETWORK LOCATION: <%= @network.address %></h4>
          </div>
          <div style="width: 100%; height: 275px; border-radius: 10px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>

      </div>
      <div class="flex-grow-1">
        <div class="ps-4 h-100">
          <div class="installed-equipments h-100">
            <div class="board-info">
              <li>Installed equipment at network <%= @network.name.upcase %> </li>
            </div>
            <div class="equipment-info">
              <li>EQUIPMENT INSTALLED</li>
              <li>WATERPOINT</li>
              <li>WARRANTY</li>
              <li>NEXT MAINTENANCE</li>
            </div>
            <% @network.waterpoints.each do |waterpoint| %>
              <% waterpoint.equipments.each do |equipment| %>
                <p><%= equipment.name %></p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <hr class="my-3">

    <div class="flex-grow-1;">
      <div class="equipments-networks">
        <div class="next-maintenance-task">
          <div class="board-info flex-grow-1">
            <li>NEXT MAINTENANCE TASK AT <%= @network.name.upcase %></li>
          </div>
          <div class="task-info">
            <li>TASK NAME</li>
            <li>WATERPOINT </li>
            <li>EQUIPMENT</li>
            <li>DATE</li>
            <li>TECHNICIAN</li>
            <li>MANAGER</li>
          </div>
          <% @network.tasks.each do |task| %>
            <div class="equipment-details">
            <li><%= task.service.name %></li>


            </div>
          <% end %>
        </div>
      </div>
    </div>


  </div>
</div>
