<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="border: solid 1px rgba(228,201,160,.2);" >
  <div class="container-fluid">
    <div class="logo-link">
      <%= image_tag "logo.png" %>
      <%= link_to "MAINTENANCE TRACKER", tasks_path, style:"padding-left: -0.175rem; color: grey;" %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-right: 50px;">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <div class="name-and-role">
            <div class="name-div">
              <%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %>
            </div>
            <div class="role-div">
              <% if current_user.technician %>
              <%= "TECHNICIAN" %>
              <% else %>
              <%= "MANAGER" %>
              <% end %>
            </div>
          </div>
          <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, :width=>60, :height=>60, :gravity=>"faces", :crop=>"thumb", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Edit my Profile", "#", class: "dropdown-item" %>
              <%= link_to "Presentation page", presentation_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
