<div class="sidebar">

  <div class="dashboard-menu">
    <div class="task-btn">
      <%= link_to "CREATE A TASK", new_task_path(@task), class:"btn btn-primary" %>
    </div>
    <ul class="ul-items">
      <li><%= link_to "HOME", root_path(@root) %></li>
      <li><%= link_to "STATS", statistics_path(@statistics) %></li>
      <li><%= link_to "TASKS", tasks_path(@tasks) %></li>
      <li><%= link_to "NETWORKS", networks_path(@networks) %></li>
    </ul>
  </div>

</div>
