<div class="d-flex">
  <%= render "shared/sidebar" %>
  <div class="pages-content flex-grow-1">
    <div class="tasks-networks">
      <div class="tasks">
        <div class="board-info">
          <li><%= "RECENT TASKS" %></li>
          <li><%= link_to "See All Tasks", tasks_path(@tasks) %></li>
        </div>
        <div class="tasks-info">
          <li>TASK NAME</li>
          <li>TECHNICIAN</li>
          <li>CREATED</li>
          <li>NETWORK</li>
        </div>
        <% @tasks.last(5).reverse.each do |task| %>
          <div class="task-details">
            <li> <%= task.service.name %> </li>
            <li> <%= task.technician.first_name.capitalize %> <%= task.technician.last_name.capitalize %></li>
            <li> <%= time_ago_in_words(task.created_at) %> ago </li>
            <li> <%= task.network.name %> </li>
          </div>
        <% end %>
      </div>
      <div class="networks">
        <div class="network-info">
          <li><%= "NETWORKS" %></li>
          <li><%= link_to "See All Networks", networks_path(@networks) %></li>
        </div>
        <div class="network-chart">
          <div class="pie-chart-home">
            <%= pie_chart @tasks_completed, colors: ["#F69E36", "#0073de"], legend: true, width: "285px", height: "285px", donut: true  %>
          </div>
          </div>
        </div>
      </div>


      <div class="line">
        <div class="line-home">
          <p>STATISTICS FOR THIS MONTH</p>
        </div>
          <div class="line-chart">
        <%= column_chart @tasks_per_month, colors: ["rgba(246, 158, 54, 1)"], legend: false, height: "220px", discrete: true, label: "TOTAL OF TASKS"  %>
          </div>
        </div>
  </div>
</div>
